// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    height: 100%;
}

body {
    display: flex;
}

.bg {
    background-image: url('/images/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.word-wrap-break-word {
    word-break: break-word;
}
